.home {
  width: 100%;
  position: relative;
  
}
#about {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  padding-top: 50px;
}
#mywork{
  position: absolute;
  width: 100%;
  left: 0;
  top: 100vh;
}
#contact {
  position: absolute;
    width: 100%;
    left: 0;
    top: 200vh;
  }
  footer {
    position: absolute;
      width: 100%;
      left: 0;
      top: 300vh;
      text-align: center;
      background-color: #abb6c2;
      color: black;
    }
.face{
  width: 200px;
  border-radius: 50%;
}    